{% extends "layout.html" %}

{% block title %}
    Board
{% endblock %}

{% block main %}
        <!-- content container -->
        <div class="custom-content-container container-fluid">
            <h3 class="text-center">Live feed of what people are saying on this board</h2><br>
            
            <!-- post banter form -->
            <p class="text-center">
                <a class="btn btn-primary" data-toggle="collapse" href="#postForm" aria-expanded="false" aria-controls="postForm">
                Post Banter
                </a>
            </p><br>
            <div class="collapse" id="postForm">
                <div class="card custom-card">
                    <div class="card-block">
                        {% if session.user_id %}
                        <form id="newPost" action="{{ url_for('newpost') }}" method="post">
                            <!-- post content -->
                            <div class="form-group row">
                            <label for="postContent" class="col-xs-2 col-form-label">Your Post</label>
                            <div class="col-xs-10">
                            <textarea class="form-control" rows="3" placeholder="The big brown fox jumped over the lazy dog..." id="postContent"></textarea>
                            </div>
                            </div>
                            <!-- embed content -->
                            <div class="form-group row">
                            <label for="postContent" class="col-xs-2 col-form-label">Embed Content</label>
                            <div class="col-xs-10">
                            <input class="form-control" type="url" placeholder="http://example.com/hello.png" id="embedContent">
                            </div>
                            </div>
                            <!-- anonymous? -->
                            <div class="form-group row">
                            <label for="postContent" class="col-xs-2 col-form-label">Anonymous?</label>
                            <div class="col-xs-10">
                                <div class="form-check">
                                <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="anonymous" id="anonymous" value="no" checked>&nbsp;&nbsp;No
                                </label>
                                </div>
                                <div class="form-check">
                                <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="anonymous" id="anonymous" value="yes">&nbsp;&nbsp;Yes
                                </label>
                                </div>
                            </div>
                            </div>
                            <!-- submit -->
                            <div class="form-group row">
                            <div class="col-xs-10 col-xs-offset-2">
                            <button type="submit" class="btn btn-primary">Post!</button>
                            </div>
                            </div>
                        </form>
                        {% else %}
                        <h3 class="text-center">Please login to post banter.</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- end post banter form -->
            
            
            <!-- posts -->
            <div class="container">
            
            <!-- a card -->
            <div class="card custom-card">
            <div class="card-block">
                <h4 class="card-text">When you take a 10 minutes study break and it accidentally lasts the entire year.</h4>
                <p class="card-text"><small class="text-muted">3 days ago</small><small> by sarimabbas</small></p>
                <a href="#" class="card-link">Comments</a>
                
                <div class="pull-right">               
                <a class="card-link" href="#"><i class="fa fa-chevron-up"></i></a>
                <a class="card-link" href="#">1</a>
                <a class="card-link" href="#"><i class="fa fa-chevron-down"></i></a>
                </div>
            </div>
            <!-- reserved for showing comments
            <div class="card-footer text-muted">
            </div> -->
            <!-- end card -->
            </div>
            
            
            <!-- a card -->
            <div class="card custom-card">
            <div class="card-block">
                <h4 class="card-text">When I die, I want my group project members to lower me into my grave so they can let me down one last time.</h4>
                <p class="card-text"><small class="text-muted">4 days ago</small><small> by Anonymous</small></p>
                <a href="#" class="card-link">Comments</a>
                
                <div class="pull-right">               
                <a class="card-link" href="#"><i class="fa fa-chevron-up"></i></a>
                <a class="card-link" href="#">1</a>
                <a class="card-link" href="#"><i class="fa fa-chevron-down"></i></a>
                </div>
            </div>
            <!-- reserved for showing comments
            <div class="card-footer text-muted">
            </div> -->
            <!-- end card -->
            </div>
            
            <!-- a card -->
            <div class="card custom-card">
            <!-- card embedContent -->
            <div class="card-header">
            <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/295019679&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
            </div> 
            <!-- card postContent -->
            <div class="card-block">
                <h4 class="card-text">i luv john oliver</h4>
                <p class="card-text"><small class="text-muted">4 days ago</small><small> by fatih54</small></p>
                <a href="#" class="card-link">Comments</a>
                
                <div class="pull-right">               
                <a class="card-link" href="#"><i class="fa fa-chevron-up"></i></a>
                <a class="card-link" href="#">1</a>
                <a class="card-link" href="#"><i class="fa fa-chevron-down"></i></a>
                </div>
            </div>
            <!-- reserved for showing comments
            <div class="card-footer text-muted">
            </div> -->
            
            <!-- end card -->
            </div>
            
            <!-- a card -->
            <div class="card custom-card">
            <!-- card embedContent -->
            <div class="card-header">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/34Na4j8AVgA" frameborder="0" allowfullscreen></iframe>
            </div> 
            <!-- card postContent -->
            <div class="card-block">
                <h4 class="card-text">i luv weeknd</h4>
                <p class="card-text"><small class="text-muted">5 days ago</small><small> by daniel</small></p>
                <a href="#" class="card-link">Comments</a>
                
                <div class="pull-right">               
                <a class="card-link" href="#"><i class="fa fa-chevron-up"></i></a>
                <a class="card-link" href="#">1</a>
                <a class="card-link" href="#"><i class="fa fa-chevron-down"></i></a>
                </div>
            </div>
            <!-- reserved for showing comments
            <div class="card-footer text-muted">
            </div> -->
            
            <!-- end card -->
            </div>

            
            
            <!-- end posts -->
            </div>
            
        </div>    
        <!-- end content container -->
        
{% endblock %}