<!-- a card -->
<div class="card custom-card">
<div class="card-block">
    <h4 class="card-text">When you take a 10 minutes study break and it accidentally lasts the entire year.</h4>
    <p class="card-text"><small class="text-muted">3 days ago</small><small> by sarimabbas</small></p>
    <a href="#" class="card-link">Comments</a>
    
    <div id="post-id" class="pull-right upvote">               
    <a class="card-link upvote" href="#"><i class="fa fa-chevron-up"></i></a>
    <a class="card-link" href="#">1</a>
    <a class="card-link downvote" href="#"><i class="fa fa-chevron-down"></i></a>
    </div>
</div>
<!-- reserved for showing comments
<div class="card-footer text-muted">
</div> -->
<!-- end card -->
</div>