{% extends "layout.html" %}

{% block title %}
    BanterBoard
{% endblock %}

{% block main %}
        <!-- content container -->
        <div class="container-fluid">
            
            
            <div class="jumbotron">
                <h3 class="display-3">Welcome to BanterBoard</h3>
                <hr class="my-2">
                <h2>A simple place to share big ideas.</h2><br>
                <a class="btn btn-primary btn-lg" href="/board" role="button">Go to your boards&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            
        <h3>BanterBoard in three steps:</h3><hr class="my-2">   
        <div class="card-deck-wrapper">
          <div class="card-deck">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Step 1</h4>
                <p class="card-text">Visit a board</p>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
            </div>
          </div>
        </div>
            
            
            
            
        </div>    
        <!-- end content container -->
{% endblock %}